
  body {
      background-color:#EAF6F6;

  }
  hr {
    border-style:none;
    border-top-style: dotted;
    border-color:lightblue;
    border-width:10px;
    width:6%;
  }
  h1{
    color:#66BFBF;
  }
  h3{
    color:#66BFBF;
  }
    /* background-color:white;
    border:dotted;
    color:white;
    border-style: none none dotted;
    height:2px;
    width:80%;
    line-style:dotted; */
    iframe {
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }
