img:hover {
  background-color: gold;
}
/* ------------------------- Class selectors ---------------- */
.Goood{
  background-color: green;
}
.yuck{
  background-color: red;
}
/* ------------------------- ID selectors ------------------- */
#heading {
  background-color: pink;
}
